.appointments-outer-container {
    max-width: 820px;
    padding: 0 16px;
  }
  
  .appointments-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 18px;
    margin-left: 4px;
  }
  
  .appointments-status-tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
    margin-left: 2px;
  }
  
  .tab-btn {
    padding: 8px 20px;
    text-color: #6600CC;
    font-weight: 600;
    border-radius: 8px;
    font-size: 1rem;
    
    cursor: pointer;
    border:none;
    background: #f5f5f5;
    outline: none;
  }
  
  .tab-btn.active {
    background: #f5f5f5;
    border:1px solid #6600CC ;
    color:#6600CC;
    font-weight: 600;
   
    
  }
  
  .appointments-page {
    padding: 32px 24px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.05);
    border: 1.5px solid #eee;
  }
  
  .appointments-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  