.search-bar {
  position: relative;
  margin-top: 15px;
}

.search-bar input {
  width: 80%;
  padding: 30px 40px 10px 15px;
  /* border: 1px solid #D9D9D9; */
  border: none;
  background-color: #F3F3F399 ;
  border-radius: 10px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #6600CC;
}
