@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

.purchase-card {
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background-color: white;
  border: 1px solid #ececec;
  font-family: 'League Spartan', sans-serif;
}

.purchase-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.purchase-card-id {
  font-weight: 600;
  font-size: 14px;
}

.purchase-card-date {
  font-size: 16px;
  color: #6b7280;
  
}

.purchase-card-price-view {
  display: flex;
  align-items: center;
  gap: 350px;
}

.purchase-card-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.purchase-card-price img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.purchase-card-view-button {
  font-weight: 500;
  color: #2f2f2f;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background: none;
  cursor: pointer;
}

.purchase-card-view-button img {
  width: 20px;
  height: 20px;
}

.purchase-card-items {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.purchase-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  padding: 12px;
  border-radius: 8px;
}

.purchase-card-item-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.purchase-card-item-left img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.purchase-card-item-name-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.purchase-card-item-name {
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 0;
}

.purchase-card-tag {
  width: 75px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-live {
  background-color: #5d5bdf;
  color: white;
}

.bg-resource {
  background-color: #4ebedc;
  color: white;
}

.bg-fixed {
  background-color: #9290f5;
  color: white;
}

.bg-flexible {
  background-color: #fff0bd;
  color: black;
}

.item-price {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.status {
  padding-left: 8px;
  font-size: 13px;
  font-weight: 500;
}

.status-completed {
  color: #117e11;
  background-color: transparent !important;
  padding: 0;
  border-radius: 0;
}

.status-processing {
  color: #e3222a;
}
